<div class="sidebar-header">
  <a href="{{ "/" | relURL }}" class="sidebar-brand">AI in Finance</a>
</div>
<div class="sidebar-content">
  <nav class="sidebar-nav">
    <div class="nav-item"><a href="{{ "/" | relURL }}"{{ if .IsHome }} class="current"{{ end }}>Home</a></div>
    <div class="nav-item"><a href="{{ "/about/" | relURL }}"{{ if in .RelPermalink "/about/" }} class="current"{{ end }}>About</a></div>
    <div class="nav-item"><a href="{{ "/team/" | relURL }}"{{ if in .RelPermalink "/team/" }} class="current"{{ end }}>Team</a></div>

    <details{{ if in .RelPermalink "/research/" }} open{{ end }}>
      <summary><span class="toggle-icon"></span><a href="{{ "/research/" | relURL }}"{{ if eq .RelPermalink "/research/" }} class="current"{{ end }}>Research</a></summary>
      <div class="nav-children">
        <div class="nav-item level-1"><a href="{{ "/research/projects/" | relURL }}">Projects</a></div>
        <div class="nav-item level-1"><a href="{{ "/research/theses/" | relURL }}">Theses</a></div>
        <div class="nav-item level-1"><a href="{{ "/research/impact/" | relURL }}">Impact</a></div>
      </div>
    </details>

    <div class="nav-item"><a href="{{ "/education/" | relURL }}"{{ if in .RelPermalink "/education/" }} class="current"{{ end }}>Education</a></div>
    <div class="nav-item"><a href="{{ "/news/" | relURL }}"{{ if in .RelPermalink "/news/" }} class="current"{{ end }}>News</a></div>
  </nav>
</div>
